.navbg {
    background: linear-gradient(31deg, rgba(255,209,217,1) 0%, rgba(207,48,110,1) 88%);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.card img{
    height: 380px;
}

.card {
    height: 500px;
}

#img_banner{
    height: 400px;
}

.go-top{
    position: fixed;
    bottom: 4.5rem;
    right: 3rem;
    display: none;
    border: 30px solid transparent;
    border-bottom-color: black ;
    z-index:10;
    cursor:pointer;
}




